.vscode/
/**/.build/
paths.txt

tools/**/*.tga

assets/shaders/*
!assets/shaders/contents.md
assets/textures/*
!assets/textures/contents.md

bin/*
!bin/contents.md

docs/*
!docs/contents.md
!docs/useful_links.md
